.ipynb_checkpoints
__pycache__
old
dist
website_data
MdB-Stammdaten*
README_files/README*.png
abgeordnetenwatch_data/
abgeordnetenwatch_data_test/
.venv
*.egg-info

.envrc

.vscode
nbs/models

data/preprocessed.tar.gz
data/preprocessed/abgeordnetenwatch/compiled_votes_legislature_111.csv
data/preprocessed/abgeordnetenwatch/compiled_votes_legislature_132.csv
data/preprocessed/bundestag/
data/preprocessed/abgeordnetenwatch/
data/raw.tar.gz
data/raw/

.pytest_cache
.ruff_cache

.coverage
