[tool.poetry]
name = "bundestag"
version = "0.0.3"
description = "Download, parse and analyse votes in the german federal parliament, aka 'Bundestag'"
authors = ["eschmidt42 <11818904+eschmidt42@users.noreply.github.com>"]

[tool.poetry.dependencies]
python = "^3.8"
loguru = "^0.5.3"
pandas = "^1.3.2"
spacy = "^3.1.2"
fastai = "^2.5.2"
plotly = "^5.2.1"
sklearn = "^0.0"
seaborn = "^0.11.2"
matplotlib = "^3.4.3"
gensim = "^4.0.1"
fastcore = "^1.3.26"
beautifulsoup4 = "^4.9.3"
ipywidgets = "^7.6.3"
xlrd = "^2.0.1"
openpyxl = "^3.0.7"
fastparquet = "^0.7.1"

[tool.poetry.dev-dependencies]
nbdev = "^1.1.22"
jupyterlab = "^3.1.7"
black = "^21.7b0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
